<% provide(:title, "Contact") %>
<div id="contactsection">
  <div class="contact row" id="contactrow">
    <div class="col-lg-6" id="headcol">
      <h1 class="contact">Contact</h1>
      <h3 class="text-muted" style="margin-left: 7%">Feel free to get in touch!</h3>
    </div>
    <div class="col-lg-6 cream">
      <ul class="contact">
        <li>Email: eagensam@grinnell.edu</li>
        <li>Phone: Currently Unavailable</li>
        <li>Github: <a href="https://github.com/sve009">https://github.com/sve009</a></li>
      </ul>
    </div>
  </div>
</div>