<div class="center title jumbotron jumbotron-fluid">
  <div class="container">
    <h1 id="heading">Sam Eagen</h1>
    <p>A website that probably no one will ever see.</p>
    <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div> 

<div class="container">
  <h1 id="projects">Projects:</h1>
  <div class="row">
    <div class="col-lg-3">
      <div class="center card">
        <div class="card-header">
          <h5>MICA Food Pantry</h5>
        </div>
        <div class="card-body">
          An app designed to keep track of which items
          the food pantry is currently in the most need of.
          This allows provides consumers with information about
          what donations are currently the most helpful.
        </div>
        <div class="card-footer">
          <a href="https://github.com/sve009/MICA_foodpantry" class="btn btn-lg">Check it out</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="center card">
        <div class="card-header">
          <h5>Secondary Extinction Simulation</h5>
        </div>
        <div class="card-body">
            Uses networks to model food chain collapse,
            allowing for the the robustness of ecosystem
            structures to be tested against variables such
            as diversity.
        </div>
        <div class="card-footer">
          <a  href="https://github.com/sve009/SecondaryExtinctionProject" class="btn btn-lg">Check it out</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="center card">
        <div class="card-header">
          <h5>Pong AI</h5>
        </div>
        <div class="card-body">
          <p>
            A reinforcement learning project that uses reinforcement
            learning to train a neural network to give the desired
            action for a player every tick based on the ball position
            and velocity.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-lg" href="https://github.com/sve009/PongRL">Check it out</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="center card">
        <div class="card-header">
          <h5>Project</h5>
        </div>
        <div class="card-body">
          <p>All about my project</p>
        </div>
        <div class="card-footer d-flex align-items-end">
          <a class="btn btn-lg">Check it out</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid inverse">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1>About Me:</h1>
      </div>
      <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-4">
            <h3>Background</h3>
            <p>
              I'm from Versailles KY, and am a computer science and math major
              at Grinnell college. I am male identifying, and I love problem-solving and collaboration.
              In my freetime I often enjoy doing personal projects to develop new skills. 
            </p>
          </div>
          <div class="col-lg-4">
            <h3>Hobbies</h3>
            <p>
              I love board games, video games, and reading novels. Currently,
              I'm racking up hours playing Monster Hunter Rise and finishing
              up schoolwork. 
            </p>
          </div>
          <div class="col-lg-4">
            <h3>Skills</h3>
            <p>
              I've been lucky enough to have the opportunity to work on projects in many
              languages, including python, java, javascript, rust, haskell, ruby, and
              julia. I've also gotten to work on many different types of project, from
              more typical web-apps to polymorphic type-driven program synthesis engines.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
