@import "bootstrap-sprockets";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

$maroon: #732c41;
$cream: #e6d8bc;

body {
  font-family: Playfair Display;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Header */

.navbar {
  margin-bottom: 0px;
  
  background-color: #e6d8bc;

  border: none;
  border-radius: 0px;
}

.navbar div {
  margin-left: 2%;
  margin-right: 5%;
}

.navbar-inverse .navbar-nav > li > a {
  color: #333;
}

#logo {
  margin-right: 10px;
  font-size: 1.7em;
  color: #333;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  
  font-family: Playfair Display;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* Main Section */

.title {
  margin: 0px;
  
  height: 500px;
  
  background-color: #732c41;
  
  border-radius: 0px;
}

.title .container {
  margin-top: 60px;
}

#heading {
  font-weight: 900;
  font-size: 80px;

  color: #e6d8bc;
  text-shadow: 2px 2px #777;
}

.title p {
  color: #e6d8bc;
}

.btn-primary {
  color: #333;
  background-color: #e6d8bc;
  border: none;
  &:hover {
    background-color: #e6d8bc;
  }
}

/* Project section */

#projects {
  margin-top: 40px;
  margin-bottom: 40px;
}

.row {
  margin-bottom: 50px;
}

.card {
  border: 1px solid black;
  box-shadow: 0px 2px #333;
}

.card-header {
  float: left;
  
  width: 100%;
  margin-bottom: 10px;
  
  color: white;
  background-color: $maroon;
}

.card-body {
  padding-up: 10px;
  padding-down: 20px;
  padding-left: 15px;
  padding-right: 15px;
  
  text-align: justify;
  font-weight: 200;
  
  height: 175px;
}

.card a {
  margin-top: 20px;
  margin-bottom: 20px;
  
  color: white;
  background-color: $maroon;
}

.card a:hover {
    color: #bbb;
}

/* About me */

.inverse {
  padding-bottom: 0px;
  margin-bottom: 0px;
  
  background-color: $cream;
  color: #333;
}

.inverse h1 {
  margin-top: 0px;
  
  font-weight: 700;
}

.inverse h3 {
  margin-bottom: 20px;
  
  font-weight: 600;
  text-align: center;
}

.inverse p {
  color: #333;
  
  padding-top: 20px;
  padding-bottom: 10px;
  
  font-size: 16px;
  text-align: justify;
  text-justify: auto;
}

#harry {
    margin-top: 40px;
    margin-left: 9%;

    width: 60%;
}

#harry img {
    width: 100%;

    border: 2px solid #333;
}

#harry p {
    margin-top: -15px;

    font-size: 10px;
    font-weight: 200;

    text-align: center;
}

/* Recommendation Page */

#reccos {
  margin-top: 60px;

  font-size: 80px;
  font-weight: 900;

  color: $maroon;
}

#subheader {
    margin-bottom: 40px;
}

.recommendation {
    text-align: left;

    background-color: white;
    color: black;

    box-shadow: none;
    border-radius: 10px;
    border-color: #333;

    margin-top: 30px;
}

.recommendation > .card-header {
    color: $maroon;
    background-color: inherit;
    border-radius: inherit;
}

.recommendation > .card-header > h3 {
    font-weight: 700;

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    padding-bottom: 5px;

    border-bottom: 5px solid $cream;
}

.recommendation > .card-header > h5 {
    margin-left: 10px;
    margin-right: 10px;

    font-weight: 700;
    color: $maroon;
}

.recommendation > .card-header > h5 > span {
    width: 50%;
    float: right;

    font-weight: 400;
    color: #777777;
}

/* Contact Page */

.cream {
  width: 50%;
  height: 100%;
  background-color: $cream;
}

#contactsection {
  width: 96%;
  
  margin-left: 2%;
  margin-top: 40px;
  
  border: 0px solid #333;
  border-radius: 0px;
}

#contactrow {
  display: flex;
  align-content: stretch;
  
  margin: 0px;
}

#headcol {
  border: 1px solid #333;
  border-right: none;
}

.contact h1 {
  margin-left: 5%;
  font-size: 80px;
  font-weight: 800;
  
  color: $maroon;
}

.contact ul {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 4%;
  
  list-style-type: disc;
}

.contact ul > li {
  font-size: 24px;
  font-weight: 500;
  
  margin: 20px;
  margin-bottom: 40px;
  
  color: #333;
}



/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-left: 1%;
  margin-right: 1%;
  border-top: 1px solid #eaeaea;
  color: #333;
}

footer div {
  background-color: $cream;
}

footer a {
  color: #333;
}

footer a:hover {
  color: #111;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
