<footer class="footer">
  <div>
    <small>
      Sam's Personal Web Page
    </small>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Recommendations", help_path %></li>
      </ul>
    </nav>
  </div>
</footer>
