<div class="col-lg-3">
  <div class="recommendation card">
    <div class="card-header">
      <h3><%= @recommendation.title %></h1>
      <h5><%= @recommendation.creator %></h4>
      <h5><%= @recommendation.media %></h4>
    </div>
    <div class="card-body">
      <p><%= @recommendation.description %></p>
    </div>
  </div>
</div>

    
